<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <link href=https://fonts.googleapis.com/icon?family=Material+Icons rel=stylesheet>
        <link rel=stylesheet href=/styles/css/style.css />
        <link rel="shortcut icon" type=image/png href=/images/favicon.png/>
    </head>
    <body>
        <header class=scania-header>
             <nav class=sidenav>
                <div class=nav-wrapper>
                    <a href=javascript:void(0); class="brand-logo center"><img src=/images/logo.png alt="Scania Logo"></a>
                    <%- include('components/top-menu', op); %>
                </div>
            </nav>
        </header>

        <main>
            <div class=row>
                <div class="col s2 menu-escolhas no-padding">
                   <%- include('components/side-menu', red, blue); %>
                </div>
                <div class="col s10 no-padding">
                    <table class="striped centered">
                        <thead>
                            <th>Status</th>
                            <th>Nome</th>
                            <th>Dispostivo</th>
                            <th>Entrada</th>
                            <th>Entrega</th>
                            <th>Setor</th>
                            <th>Contato</th>
                            <th></th>
                        </thead>
                        <tbody id=dispositivos-lista>
                            <% prazos.forEach(function(prazo){ %>
                                <tr>
                                    <td><i class="material-icons tiny <%=prazo.icone%>">lens</i></td>
                                    <td><%=prazo.nome%></td>
                                    <td><%=prazo.dispositivo%></td>
                                    <td><%=prazo.retirada%></td>
                                    <td><%=prazo.entrega%></td>
                                    <td><%=prazo.setor%></td>
                                    <td><%=prazo.email%></td>
                                    <td><a href="/prazos/delete/<%=prazo.id%>" class="deletePrazo"><i class="material-icons">delete</i></a></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>    
        </main>
         <div id=lista-adicionar class=modal>
            <div class="modal-header center-align">
                <h3>Adicionar novo dispositivo</h3>
            </div>
            <div class=modal-content>
                <div class=row>
                    <form class="col s12">
                        <div class=row>
                            <div class="input-field col s6">
                                <select id=usuario>
                                    <option value="" disabled selected>Escolha</option>
                                     <% usuarios.forEach(function(usuario){ %>
                                        <option value="<%=usuario.id%>"><%=usuario.email%></option>
                                    <% }); %>
                                </select>
                                <label>Usuário</label>
                            </div>
                            <div class="input-field col s6">
                                <select id=dispositivo>
                                    <option value="" disabled selected>Escolha</option>
                                    <% dispositivos.forEach(function(dispositivo){ %>
                                        <option value="<%=dispositivo.id%>"><%=dispositivo.descricao%></option>
                                    <% }); %>
                                </select>
                                <label>Dispositivo</label>
                            </div>
                        </div>
                        <div class=row>
                            <div class="input-field col s6">
                                <input id=dataRetirada type=text class=datepicker>
                                <label for=dataRetirada>Data de Retirada</label>
                            </div>
                            <div class="input-field col s6">
                                <input id=dataEntrega type=text class=datepicker>
                                <label for=dataEntrega>Data de Entrega</label>
                            </div>
                        </div>
                        <div class=row>
                            <div class="input-field col s6">
                                <input id=horaRetirada type=text class=timepicker>
                                <label for=horaRetirada>Hora de Retirada</label>
                            </div>
                            <div class="input-field col s6">
                                <input id=horaEntrega type=text class=timepicker>
                                <label for=horaEntrega>Hora de Entrega</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close btn">Cancelar</a>
                <a id=adicionar-lista class="modal-action modal-close btn">Adicionar</a>
            </div>
        </div>
        <script src=/lib/jquery.js></script>
        <script src=/lib/materialize.js></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src=/js/materialize.js></script>
        <script src=/js/dispositivos.js></script>
    </body>
</html>
