<html lang="en">
<head>
    <title><%=title%></title>
    <link href=https://fonts.googleapis.com/icon?family=Material+Icons rel=stylesheet>
    <link rel=stylesheet href=/styles/css/style.css />
    <link rel="shortcut icon" type=image/png href=/images/favicon.png/>
</head>
<body>
    <header class=scania-header>
        <nav class="sidenav">
            <div class=nav-wrapper>
                <a href=javascript:void(0); class="brand-logo center"><img src=/images/logo.png alt="Scania Logo"></a>
                <ul id=nav-mobile class="right hide-on-med-and-down">
                    <li><a class=blue-text href=/perfil/listar>Perfil</a></li>
                    <li><a class=blue-text href=/login/logout>Setor</a></li>
                    <li><a class=blue-text href=/login/logout>Usuários</a></li>
                    <li><a href=/login/logout>Sair</a></li>
                    <li><a class="btn modal-trigger btn-add <%= op == 0 ? 'hide' : ''%>" href=#lista-adicionar>+ Adicionar</a></li>
                </ul>
            </div>
        </nav>
    </header>

   <main>
       <div class="row">
           <div class="col s2 menu-escolhas no-padding">
                <%- include('components/side-menu', red, blue); %>
           </div>
           <div class="col s10 no-padding">
               <div class="row"></div>
               <a class="right btn modal-trigger btn-add" href=#lista-adicionar>+ Adicionar</a>
               <div class="row"></div>
               <table class="striped centered">
                   <thead>
                       <th>Id</th>
                       <th>Descrição</th>
                       <th>Opções</th>
                   </thead>
                   <tbody class="dispositivos-lista">
                        <% for (let i in profiles) { %>
                            <tr>
                                <td><%= profiles[i].id %></td>
                                <td><%= profiles[i].descricao %></td>
                                <td>
                                    <a class="waves-effect waves-teal btn-flat modal-trigger" href=#lista-adicionar><i class="small material-icons">edit</i></a>
                                    <a class="waves-effect waves-teal btn-flat"><i class="small material-icons">delete</i></a>
                                </td>
                            </tr>
                        <% } %>
                   </tbody>
               </table>
            </div>
       </div>
   </main>

   <div id="lista-adicionar" class="modal modal-profile">
        <div class="modal-content">
            <form action="" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="descricao">
                        <label for="descricao">Descrição</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-close waves-effect waves-green btn-flat">Submit</button>
        </div>
    </div>

   <script src=/lib/jquery.js></script>
   <script src=/lib/materialize.js></script>
   <script src=/js/materialize.js></script>
   <script src=/js/dispositivo-post.js></script>
</body>
</html>